.Cart {
    background-color: white;
    width: 60vw;
    border-radius:10px;
}

.Cart-total {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    align-items: center;
}

.Cart-total {
    padding: 20px 100px 20px 20px;
}
